<div class="panel panel-default tool-box">
  <div class="panel-heading">TOOL BOX</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <div class="tool-hover">
          <div class="tool-icon"><%= link_to image_tag("/image/cubicachievement.png"),"http://10.0.128.16/achievement" %></div>
          <h5 class="tool_title"><%= link_to "CuebicAchievement","http://10.0.128.16/achievement"%></h5>
          <p>過去の達成率が確認できるアプリケーション</p>
        </div>
        <div class="tool-hover">
          <div class="tool-icon"><%= link_to image_tag("/image/ithelper.png"),"http://10.0.128.16/it_helper" %></div>
          <h5 class="tool_title"><%= link_to "IT-Helper","http://10.0.128.16/it_helper" %></h5>
          <p>IT機器を借りたり不具合を報告したりするアプリケーション</p>
        </div>

      </div>
      <div class="col-md-3">
        <div class="tool-hover">
          <div class="tool-icon"><%= link_to image_tag("/image/shufflemenbers.png"),"http://10.0.128.16/shuffle_members" %></div>
          <h5 class="tool_title"><%= link_to "Shuffle Members","http://10.0.128.16/shuffle_members" %></h5>
          <p>チーム分けの際に使えるアプリケーション</p>
        </div>
        <div class="tool-hover">
          <div class="tool-icon"><%= link_to image_tag("/image/eatmap.png"),"http://10.0.128.16/eatmap" %></div>
          <h5 class="tool_title"><%= link_to "eatmap","http://10.0.128.16/eatmap" %></h5>
          <p>ご飯に行く仲間を探したりレストラン情報を共有するアプリケーション</p>
        </div>

      </div>
      <div class="col-md-3">

        <div class="tool-hover">
          <div class="tool-icon"><%= link_to image_tag("/image/bookingcalendar.png"),"http://10.0.128.16/booking_calendar" %></div>
          <h5 class="tool_title"><%= link_to "Booking Calendar","http://10.0.128.16/booking_calendar" %></h5>
          <p>会議室の予約状況が確認できるアプリケーション</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="tool-hover">
          <div class="tool-icon"><%= link_to image_tag("/image/jobkanri.png"),"http://10.0.128.16/jobkanri" %></div>
          <h5 class="tool_title"><%= link_to "Jobkanri","http://10.0.128.16/jobkanri" %></h5>
          <p>インターンの出勤まるわかりアプリケーション</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="tool-hover">
          <div class="tool-icon"><%= link_to image_tag("/image/Person Male-64.png", width: 35, height: 32),"http://10.0.128.16/profile_box" %></div>
          <h5 class="tool_title"><%= link_to "ProfileBox","http://10.0.128.16/profile_box" %></h5>
          <p>プロフィールを共有するアプリケーション</p>
        </div>
      </div>

    </div>
  </div>
</div>
