<div class="bs-component">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#portal_news" data-toggle="tab">CUE&A 更新情報</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="portal_news">
      <table class="table">
        <tr>
          <td>2016.12.27</td><td>「<%=link_to "eatmap","http://10.0.128.16/eatmap"%>」追加</td>    
        </tr>
        <tr>
          <td>2016.12.5</td><td>「<%=link_to "フォーマットBOX","https://drive.google.com/drive/folders/0B1JbLWhC6P1cRHF0Rk9NTW5PS0k"%>」追加</td>
        </tr>
        <tr>
          <td>2016.11.14</td><td>「<%=link_to "CuebicAchievement","http://10.0.128.16/achievement"%>」機能アップデート</td>
        </tr>
        <tr>
          <td>2016.11.14</td><td>新機能「<%=link_to "IT-Helper","http://10.0.128.16/it_helper"%>」追加</td>
        </tr>
        <tr>
          <td>2016.11.09</td><td>新機能「<%=link_to "Shuffle Members","http://10.0.128.16/shuffle_members"%>」追加</td>
        </tr>
        <tr>
          <td>2016.11.09</td><td>ポータル名"CUE&A"に正式決定</td>
        </tr>
        <tr>
          <td>2016.11.04</td><td>新機能「<%=link_to "Jobkanri","http://10.0.128.16/jobkanri"%>」追加</td>
        </tr>
        <!--
        <tr>
          <td>2016.11.04</td><td>「<%=link_to "Booking Calendar","http://10.0.128.16/booking_calendar"%>」機能アップデート</td>
        </tr>
        <tr>
          <td>2016.10.28</td><td>新機能「<%=link_to "Booking Calendar","http://10.0.128.16/booking_calendar"%>」追加</td>
        </tr>
        <tr>
          <td>2016.10.19</td><td>「内部発注」 リンク追加</td>
        </tr>
        <tr>
          <td>2016.10.12</td><td>デザイン フルリニューアル</td>
        </tr>
        <tr>
          <td>2016.9.14</td><td>新機能「<%=link_to "CuebicAchievement","http://10.0.128.16/achievement", :target => "_blank"%>」追加</td>
        </tr>
        <tr>
          <td>2016.8.31</td><td>リリース</td>
        </tr>
      -->
      </table>
    </div>
</div>
</div>
