<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>
    <%= render "topbar" %>

    <div class="container">

  <div class="row">
    <div class="col-md-4">
      <h3><%= link_to image_tag('/image/cubic_logo.png',:size=>"64x64"), root_path %>CUE&A</h3>
    </div>
    <div class="col-md-8">
      <br>
      <div style="text-align:right;" id="period_theme"><h4>11期テーマ「非連続の成長を実現するためのギアチェンジ」</h4></div>
    </div>
  </div>
  <div class="page-header">
  </div>

  <div class="row">
    <h3 class="award-title">第11期 上半期 最優秀チーム賞</h3><br>
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/img_ico_adstrategy.png") %></div>
      <h5 class="award_name">アドストラテジーDiv 金融チーム</h5>
    </div>
    <div class="col-md-9">
      <div class="award-comment">
        半年間ずっと狙っていたチーム賞を受賞できました。<br>
        メンバーの重吉、小澤を中心とした社員、そして何より自走をしてくれた金融のインターンたち、サポートしていただいたCS、ICTC、クリユニに感謝です。
        <br><br>
        回数を重ねるたびに受賞難易度が上がっていくチーム賞。<br>
        売上・粗利では大きな結果を残せたアドスト金融でしたがそれだけでは絶対に受賞はできませんでした。<br>
        頑張ってきた他のチームを見て、参考にし、どうすればチームとして会社に貢献できるのかを考えられたのが良かったと思っています。<br>
        切磋琢磨した他のチームにも本当にお礼をいいたいです。<br>
        ありがとうございます。<br><br>

        アドスト金融は全社を背中で引っ張っていきます。
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="award-title">第11期 上半期 最優秀社員賞</h3><br>
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.35.24.png", :size => "200x200") %></div>
      <h5 class="award_name">小澤裕希</h5>
    </div>
    <div class="col-md-9">
      <ul>
        <li>激戦区で圧倒的な高さの成果を残した（成長率含む）</li>
        <li>Div内勉強会の主催など、将来価値を生むタテの活動</li>
        <li>明るくポジティブに周囲を牽引しヒトファーストを体現</li>
        <li>各種社内イベントで存在感を示しヨコの影響力を発揮</li>
      </ul>
      <div class="col-md-9">
        <div class="award-comment">まずはいつも近くで支えていただいている木村さん、下さん、重さん、金融インターンのみんなにお礼を言いたいです。2016年4月に入社して以降、毎日を全力で駆け抜けることができたのは上記のメンバーがいてくれたからこそです。改めて仕事は「誰とやるか」が重要なのだと肌で感じることができました。キュービックではMVPホルダーが受賞後パフォーマンスを落とすという定説があるようですが(笑)、そんなことはないのでご安心ください！100倍働き100倍コミットします！これからもよろしくお願いします！</div>
      </div>
    </div>
  </div>

  <div class="row">
    <br>
    <h3 class="award-title">第11期 上半期 最優秀インターン賞</h3><br>
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.36.31.png", :size => "200x200") %></div>
      <h5 class="award_name">阿南美咲</h5>
    </div>
    <div class="col-md-9">
      <ul>
        <li>配属部門では他チームから羨まれる全社No.1とも言えるチームワークを作り上げた</li>
        <li>2つの横断PJを同時に牽引し、社員をしのぐハンドルグリップとハイレベルなアウトプットを見せた</li>
        <li>チームをまたいだカルチャー・ルールの浸透・教育</li>
        <li>誰から見ても分かるギアチェンジ、シニアインターンとして模範となる獅子奮迅の活躍</li>
      </ul>
    <div class="col-md-9">
      <div class='award-comment'>
        ずっと目指していた最優秀インターン賞、
        やっと受賞できて大変嬉しく思っています！！<br>
        これまで得たたくさんの私の変化は、どれをとって見てもCUEBiCのヒトがきっかけになっています。<br>
        少し背伸びした環境に身を置きまくったからこそ、<br>
        こうしてたくさんの方に刺激をいただき、ギアチェンジすることができました。<br>
        これからも期待を超え続けられるよう全速力で走り、そして私もだれかのギアチェンジのCUE!になれるよう頑張ります！<br>
        ありがとうございました！
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <h3 class="award-title">第11期 上半期 最優秀プロジェクト賞</h3><br>
    <h3>　社員旅行プロジェクト</h3>
    <div class="col-md-2">
      <div class="award"><%= image_tag("/image/award11first/ 12.38.58.png", :size => "200x200") %></div>
    </div>
    <div class="col-md-2">
      <div class="award"><%= image_tag("/image/award11first/ 12.38.20.png", :size => "200x200") %></div>
    </div>
    <div class="col-md-2">
      <div class="award"><%= image_tag("/image/award11first/ 12.38.35.png", :size => "200x200") %></div>
    </div>
    <div class="col-md-6">
      <ul>
        <li>キュービックの顔として恥じることのない外部対応</li>
        <li>正しい納期管理</li>
        <li>高い参加者満足度</li>
        <li>1,000万円を超える予算の適正な執行</li>
      </ul>
      <div class="col-md-9">
        <div class='award-comment'>社員旅行チームのためにあるような賞を作っていただきありがとうございます　笑<br>このPJに参加して「大きな成長機会」と「美味しいディナー数回」を得ることができました！<br>得るものは絶対多いので、最近入った方もぜひ来年の社員旅行のPLに立候補してみてください！</div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="award-title">第11期 上半期 優秀社員賞</h3><br>
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.35.55.png", :size => "200x200") %></div>
      <h5 class="award_name">下川徹</h5>
    </div>
    <div class="col-md-9">
      <ul>
        <li>自身考案 LPが大爆発。金融チームの達成率170%に</li>
        <li>大幅達成後も大きな目標を定め、全社 達成に貢献</li>
      </ul>
      <div class="col-md-9">
        <div class="award-comment">
          この賞はアドスト金融みんなのおかげで獲得できた賞です。<br>
          自分の力で獲得した賞ではありません。
          みんな全力でハンドル握ってくれてありがとう・・。<br>
          俺ができないことを自ら考えフォローしてくれた社員の二人、ありがとう。<br>
          出勤ある日も出勤ない日も絶対ハンドルを離さないでくれたインターン、ありがとう。<br>
          非常にご迷惑をおかけしたにも関わらず一緒に戦ってくれた CS、ICTC，クリユニの方々ありがとうございます。
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.35.34.png", :size => "200x200") %></div>
      <h5 class="award_name">高橋宏明</h5>
    </div>
    <div class="col-md-9">
      <ul>
        <li>昨年比362% 売り上げと本人の圧倒的成長</li>
        <li>メンバーを3倍に、インターンが社員レベルの活躍</li>
      </ul>
      <div class="col-md-9">
        <div class="award-comment">
          優秀社員賞に選出いただき、誠にありがとうございます。
          前年度の10期は、まずまずの結果を残すことはできたものの、チームで出した成果と自分自身胸を張って言えずに大変悔しい思いをしました。
          今期こそは「チームメンバー全員で目標達成する」と決意し、チームの大目標から一段落としたKPIをメンバーに任せた結果、
          全員が抱えている目標に対して、最後まで走り切って大きな結果も残すことができました。
          今いるメンバー誰が欠けても、このような大きな結果を出すことはできなかったと胸を張って言えます。
          色々を無茶を言ってごめんなさい、必死についてきてくれたチームメンバーの皆さんのお陰です。本当にありがとうございました！！
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.38.35.png", :size => "200x200") %></div>
      <h5 class="award_name">重吉俊吾</h5>
    </div>
    <div class="col-md-9">
      <ul>
        <li>新しい広告手法で前半期対比800万円の売上アップ</li>
        <li>FAMや社員旅行など全社横断の献身的な動き</li>
      </ul>
      <div class="col-md-9">
        <div class='award-comment'>優秀社員賞ありがとうございます。
ただこれもアドスト金融インターンのおかげです。
売上たてられたのも、横断PJをできたのも、FAMに顔出せるのもすべてはインターンが裏で設計から運用まで自走して結果をだしてくれたからです。あとはこの環境を作ってくれた、木村さん、下川さんに感謝したいです！来年も目標は高くいきますので宜しくお願いいたします。</div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="award-title">第11期 上半期 優秀インターン賞</h3><br>
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.38.13.png", :size => "200x200") %></div>
      <h5 class="award_name">関谷慶</h5>
    </div>
    <div class="col-md-5">
      HOPで月間数百万単位で売り上げ貢献、社員・インターンの教育・初期指導、キューポケでの貢献、出勤時間、全て期待以上。
      せっきーシートという名の上位表示のためフレームワークを確立し全チームに広げるタテの動きもした
      <div class='award-comment'>
        栄誉ある賞に選んでいただいて誠に光栄です。<br>
        今四半期にこの賞を受賞できたのは、ひろさん、かずさんの両ディレクターのお支えと、多くの不躾な依頼を引き受けてくださった物江さんの存在があったからに他なりません。<br>
        また、毎日素敵な笑顔で僕を癒してくれたたまさんにもこの場をお借りしてお礼を伝えさせていただきたいと思います。たまさん、ありがとう、大好きです。
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.38.20.png", :size => "200x200") %></div>
      <h5 class="award_name">渡部翼</h5>
    </div>
    <div class="col-md-5">
      プロジェクト3つマルチタスク全てで大きな成果。
      Re9の50万PV達成ではディレクターレベルの活躍・社長へ体当たり提案。100人規模・予算1000万円規模の社員旅行PLの成功。
      総会YTP発表プレゼン
      <div class='award-comment'>
        優秀賞に選んでいただきありがとうございます！<br>
        3つのプロジェクトを同時に進行することできたのは、それぞれのチームのメンバーの存在が大きかったです。<br>
        下半期は最優秀インターン賞を取ることができるように引き続き頑張ってまいります！<br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.35.45.png", :size => "200x200") %></div>
      <h5 class="award_name">荒木珠里亜</h5>
    </div>
    <div class="col-md-5">
      社内・社外問わず周囲を巻き込み、ONA-KAMAとファン×ファンを体現するキュービック愛。
      YTPジュリトスでのリーダーシップとアウトプットクオリティ、本業務での圧倒的業務量とインターン採用50名の実績。
      <div class="award-comment">
        3度目の優秀インターン賞でした。
        1年半にわたりインターンとして高く評価していただけていることは大変有難いですが、
        結局一度も最優秀インターン賞を獲れなかったという悔しさが、少し勝っています。
        内定者として、まだまだこんなものではいけないなと思っています。まだまだやれます。
        次回からは社員として、もっともっと結果を出していきます！
      </div>

    </div>
  </div>

  <div class="row">
    <h3 class="award-title">第11期 上半期 新人社員賞</h3><br>
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.35.24.png", :size => "200x200") %></div>
      <h5 class="award_name">小澤裕希</h5>
    </div>
    <div class="col-md-9">
      <ul>
        <li>アドテクチームの単月売上の大幅アップに貢献</li>
        <li>常に達成を見続け、絶対に諦めない前向きな姿勢</li>
        <li>各種イベントの幹事業務やイベントの手伝い</li>
        <li>全員が楽しい空気で仕事ができるように工夫する姿</li>
        <li>いつも笑顔で、仕事を常に楽しむ姿勢</li>
      </ul>
      <div class='col-md-9'>
        <div class='award-comment'>新人社員賞をいただいたことは、入社から今まで助けていただいたすべての方への恩返しでもあるので非常に嬉しいです。キュービックでは「新しく入ったメンバーのテイクオーバーゾーン(業務の引継ぎや組織への浸透)をいかに短くすることができるか」をテーマにして、新たにジョインしてくれたメンバーへのサポートをおこなっています。これは業務に関係のあるメンバーからの支援だけではなく、他のチーム含めてさまざまな方々のサポートがあってこそ成り立つことです。僕もCS、社長室、クリユニ、ICTセンターと多くの方々のサポートがあったことで、テイクオーバーゾーンを短くすることができ、結果としてワークすることができました。本当にありがとうございました！</div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="award-title">第11期 上半期 新人インターン賞</h3><br>
    <div class="col-md-3">
      <div class="award"><%= image_tag("/image/award11first/ 12.36.52.png", :size => "200x200") %></div>
      <h5 class="award_name">高杉涼平</h5>
    </div>
    <div class="col-md-7">
      <ul>
        <li>成果と業務に向き合う姿勢(クレドの実践)が新人インターン の中では一番。</li>
        <li>基盤となるインターンの大量採用。入社半年以内でここま で会社視点で動いた人はいないと思う。</li>
        <li>CUEBOOKチームで一緒に働いたが、思ったことをしっかり 発言する、普通じゃない発想力を持っている。</li>
        <li>インターン採用での早期の戦力化。新しく入ってきたイン ターンと話すと結構な頻度で高杉の名前が出る。</li>
      </ul>
      <div class='award-comment'>
        ただただ全力で駆け抜けた半年間でした！
        その評価としてこの賞をいただけたことうれしく思っています。<br>

        いままでは夢中になっていて気づかなかったですが
        どうやら筋肉痛がきているようで、、、笑<br>

        次の半年間、また走れるように
        しっかり栄養を蓄えていきたいと思います！！<br>
      </div>
    </div>
  </div>


    <div class="row">
      <h3 class="award-title">第11期 上半期 クレド大賞</h3><br>
      <div class="col-md-3">
        <h4 class="award">PLAY MORE!部門</h4>
        <div class="award"><%= image_tag("/image/award11first/ 12.35.24.png", :size => "200x200") %></div>
        <h5 class="award_name">小澤裕希</h5>
        <br>
        <h4 class="award">テトリス戦隊部門</h4>
        <div class="award"><%= image_tag("/image/award11first/ 12.35.34.png", :size => "200x200") %></div>
        <h5 class="award_name">高橋宏明</h5>
        <br>
        <h4 class="award">ONA-KAMA部門</h4>
        <div class="award"><%= image_tag("/image/award11first/ 12.35.45.png", :size => "200x200") %></div>
        <h5 class="award_name">荒木珠里亜</h5>
      </div>
      <div class="col-md-3">
        <h4 class="award">成果ランナー部門</h4>
        <div class="award"><%= image_tag("/image/award11first/ 12.35.55.png", :size => "200x200") %></div>
        <h5 class="award_name">下川徹</h5>
        <br>
        <h4 class="award">全力マッハ部門</h4>
        <div class="award"><%= image_tag("/image/award11first/ 12.36.04.png", :size => "200x200") %></div>
        <h5 class="award_name">中島はるか</h5>
        <br>
        <h4 class="award">ファン×ファン部門</h4>
        <div class="award"><%= image_tag("/image/award11first/ 12.36.13.png", :size => "200x200") %></div>
        <h5 class="award_name">平山直子</h5>
      </div>
      <div class="col-md-3">
        <h4 class="award">Onward!部門</h4>
        <div class="award"><%= image_tag("/image/award11first/ 12.35.34.png", :size => "200x200") %></div>
        <h5 class="award_name">高橋宏明</h5>
        <br>
        <h4 class="award">ハンドルグリップ部門</h4>
        <div class="award"><%= image_tag("/image/award11first/ 12.36.31.png", :size => "200x200") %></div>
        <h5 class="award_name">阿南美咲</h5>
        <br>
        <h4 class="award">ATY部門</h4>
        <div class="award"><%= image_tag("/image/award11first/ 12.36.39.png", :size => "200x200") %></div>
        <h5 class="award_name">白土航太</h5>
      </div>
    </div>

    <footer class="footer">
      &copy; Company 2016
    </footer>
  </body>
</html>
